.auth{

  height: 70vh;
  display: flex;
  align-items: center;

.tabs {
  display: flex;
  border-bottom: 1px solid #333;
  background: #000;
}

.tab {
  flex: 1;
  padding: 15px;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
}

.tab:hover {
  color: #fff;
}

.tab.active {
  color: #fff;
  border-bottom: 3px solid white;
  font-weight: bold;
}

/* Form styles */
.form-container {
  padding: 30px 25px;
}

form h2 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #1a1a1a;
  border: 1px solid #444;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #fff;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: #ddd;
}

.authButton{
    margin-top: 15px;
    max-width: 100%;
    width: 100%;
}
.authButton:hover{
  scale: 1;
  background-color: #624aef;
}

input.error {
  border-color: red;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  margin: 4px 0 8px;
}

}
