.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FF6B35;
    padding: 10px 30px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

.btn:hover {
    scale: 1.05;
    background: #E55A2B;
}