.card-wrapper {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    border-radius: 24px;
    width: 100%;
}

.card-wrapper .card-description {
    padding: 10px 20px;
    position: relative;
    z-index: 10;
    color: #ffffff;
}

/* Responsive */

@media(max-width: 767.99px) {
    .card-wrapper {
        height: 285px;
    }
}