footer {
    background-color: #fff5f0;
    border-top: 1px solid #f0e6e0;
    padding: 40px 0;
}

footer .inner {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

footer .inner .fb-link:hover {
    color: #0775e6;
}

footer .inner .ig-link:hover {
    color: #ae37cd;
}

footer .inner .wp-link:hover {
    color: #1dc23f;
}

footer .inner .rd-link:hover {
    color: #f40103;
}

footer .inner .col {
    max-width: 20%;
    width: 100%;
    padding: 0 10px;

    .logo {
        max-width: 200px;
        width: 100%;
        align-content: center;
    }

    h4 {
        line-height: 25px;
        font-size: 24px;
        margin-bottom: 30px;
    }

    label {
        display: block;
        font-size: 24px;
        margin-bottom: 30px;
    }

    input {
        max-width: 70%;
        width: 100%;
        height: 45px;
        padding: 10px;
        border-radius: 24px 0 0 24px;
        border: none;
        outline: none;
        font-size: 18px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
    }

    li a {
        display: flex;
        align-items: center;
        gap: 15px;

        svg {
            height: 25px;
            width: 25px;
        }
    }

    .btn {
        height: 46px;
        border-radius: 0 24px 24px 0;
    }
}

footer .inner .col:nth-child(4) {
    max-width: 40%;
}

/* Responsive*/

@media(max-width: 1139.99px) {
    footer .inner .col {
        max-width: 33.33%;
    }

    footer .inner .col:nth-child(4) {
        max-width: 65%;
    }
}

@media(max-width: 719.99px) {

    footer .inner .col:nth-child(1) {
        max-width: 100%;
    }

    footer .inner .col {
        max-width: 50%;

        .logo {
            max-width: 20%;
        }

        input {
            max-width: 50%;
        }
    }

    footer .inner .col:nth-child(4) {
        max-width: 70%;
    }
}

@media(max-width: 539.99px) {
    footer .inner .col {
        max-width: 100%;
    }

    footer .inner .col:nth-child(4) {
        max-width: 100%;
    }
}