header {
    position: relative;
    background: black;
    padding-top: 20px;
    height: 90px;
}

header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .inner .site-logo {
    max-width: 100px;
    width: 100%;
}

header .inner nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

header .inner nav ul li {
    padding: 5px 10px;
    font-size: 20px;
}

/* mobile menu */

.mobile-btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    display: none;
}

header .inner .mobile-menu .mobile-btn .btn-bar {
    height: 3px;
    width: 28px;
    background: #ffffff;
    border-radius: 2px;
}

header .inner .mobile-menu .mobile-nav {
    display: block;
    position: absolute;
    /* right: -286px; */
    right: 0;
    top: 90px;
    height: calc(100dvh - 90px);
    background: #000000d6;
    max-width: 40%;
    width: 100%;
    z-index: 1000;
    padding: 50px 20px;
    box-shadow: -20px 0 20px -10px rgba(163, 162, 162, 31%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
}

header .inner .mobile-menu .active {
    right: 0;
    opacity: 1;
    visibility: visible;
}

header .inner .mobile-menu .mobile-nav nav ul {
    display: flex;
    flex-direction: column;
}

/* Responsive */
@media (max-width: 991.99px) {
    header .inner nav ul li {
        font-size: 18px;
    }
}

@media (max-width: 767.99px) {
    header .inner nav {
        display: none;
    }

    header .inner .header-cta {
        display: none;
    }

    header .inner .mobile-btn {
        display: flex;
    }

    header .inner .mobile-menu .mobile-nav nav {
        display: block;
    }

    header .inner .mobile-menu .mobile-nav {
        max-width: 45%;
    }
}

@media (max-width: 575.99px) {
    header .inner .mobile-menu .mobile-nav {
        max-width: 100%;
    }

    .hero .inner .description {
        max-width: 100%;
    }

    .hero .inner .hero-card {
        max-width: 50%;
    }

    .nearby-restaurants .inner .nearby-card {
        max-width: 100%;
    }

    
}