.products {
    background: #ffffff;
    padding: 40px 0;
}

.products .inner h2 {
    text-align: center;
    margin-bottom: 30px;
}

.products-loading {
    text-align: center;
    color: #666;
    padding: 2rem;
}

.products-slide-link {
    display: block;
    text-decoration: none;
    color: inherit;
}